body {
  padding-top: 20px;
  /* font-family: "Geo", Arial; */
  color: white;
  text-shadow: 2px 2px 4px #000;
  background: url("../images/bg.png") no-repeat;
}
.container {
  text-align: center;
}
#attackButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
